header{
    background-image: url(./assets/wallpaper.jpg);
    height: 100vh;
    background-size: cover;
    box-sizing: border-box;
    background-position: center center;

    
}


nav.navbar{
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
    position: fixed;
    margin:0;


}

.navbar.active{
    background-color: rgba(21, 21, 21, 0.791);

}

.desktop-menu ul{
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 0;

    
}



.navbar ul li a{
    text-decoration:none;
    color: white;
    transition: all .2s;
}

.navbar ul li a:hover{
    color:#eea636;
}

.navbar button{
    height: 40px;
    width: 100px;
    border:none;
    background-color: #eea636;
    color: #fff;
    border-radius: 4px;
}

.navbar .fa-bars{
    display: none;
    color: #fff;
    font-size: 30px;
    padding: 20px;
    transition: .2s;
}

.navbar .fa-bars:hover{
    cursor: pointer;
    transition: .2s;
    color: #eea636;
}

.mobile-menu .fa-xmark:hover{
    cursor: pointer;
    transition: .2s;
    color: #eea636;
}

.mobile-menu .fa-xmark{
    color: #fff;
    font-size: 30px;
    padding: 20px;
    transition: .2s;
    cursor: pointer;
}

.hero-section{
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 100px;
}

.hero-section button{
    width: 150px;
    height: 50px;
    background-color: #eea636;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 50px;
    transition: all .2s;
}

.hero-section button:hover{
 background-color: #9a6819;
}


.hero-section p{
    width: 800px;
}

.hero-section h3{
    color: #eea636;
}

.mobile-menu{
    position: fixed;
    top:0;
    right:0;
    width: 300px;
    height: 100vh;
    background-color: #201401;
    display: none;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    padding: 20px 40px;
    gap: 100px;
    animation: slideIn .2s;
}

@keyframes slideIn {
    0%{
        opacity: 0;
        transform: translatex(100%);
    }100%{
        opacity:1;
        transform: translateX(0%);
    }
}


.mobile-menu.visible {
    display: flex;
    z-index: 99;
    /* Other styles for the visible state */
  }

.mobile-menu ul{
    list-style: none;
    color: #fff;
}

.mobile-menu ul li{
    display: flex;
    gap: 20px;
}

.mobile-menu ul li a:hover{
    color:#eea636;
    transition: .2s;
}

.mobile-menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    transition: .2s;
}

/*Mobile Responsive*/

@media only screen and (max-width: 980px){

    .hero-section p{
        width: 90%;
    }
    .hero-section{
        padding: 0px 50px;
       display: flex;
       justify-content: center;
       flex-direction: column;
       align-items: center;
    }
    header{
       
        background-position: 70% 0%;
    }

}


@media only screen and (max-width: 768px){
.desktop-menu ul{
    display:none;
    transition: .5s;
 }



 .navbar button{
    display: none;
 }

 .navbar .fa-bars{
    display: block;
 }
}